*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    background-color: dimgrey;
}

body{
    background-color: ##d39bd7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fbf7fc;
    width: 1000px;
    height: 1000px;
    margin: 10px auto;
}

header{
    background-color: #b96abe;
    height: 100px;
}

nav{
    background-color: #a254a5;
    height: 200px;

}

main{
    background-color: #6f3870;
    height: 550px;
    margin: 0 auto;

}



article{
    width: 300px;
    background-color: #3a183a;
    padding: 1cm;
    margin: 0 auto;
    height: 300px;
    text-align: center;
    display:inline-block;
}

img{
    width: 90%;
    margin: 0 auto;
    border: 3px dashed #dd58dd;
}

h2{
    margin-top: 5px;
    color: white;
    margin-bottom: 5px;
    padding: 3px;

}

.uno{
    float: left;
}

.dos{
    float: left;
}

.clear{
    both
}



footer {
    clear: both;
    background-color: #874388;
    height: 350px;

}


