.micuadro {
    width: 200px;
    height: 200px;
    background-color:blue ;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    transition: width 0.5s, height 0.5s, background-color 0.5s;

}

.micuadro:hover{
    background-color:hotpink ;
    width: 400px;
    height: 400px;
}