.micuadro {
    width: 200px;
    height: 200px;
    background-color:blue ;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;

}

.micuadro:hover{
    background-color:hotpink ;
}